{
  "presets": [
    ["@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }],
    "@babel/preset-typescript",
    "rsuite"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "^~/(.+)": "./src/\\1"
        }
      }
    ],
    "lodash",
    "@babel/plugin-proposal-numeric-separator",
    "transform-inline-environment-variables",
    [
      "jsx-pragmatic",
      { "export": "jsx", "module": "@emotion/core", "import": "___EmotionJSX" }
    ],
    [
      "@babel/plugin-transform-react-jsx",
      { "pragma": "___EmotionJSX", "pragmaFrag": "React.Fragment" }
    ],
    [
      "emotion",
      {
        "autoLabel": true,
        "labelFormat": "[filename]-[local]"
      }
    ]
  ]
}
