{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "^~/(.+)": "./src/\\1"
        }
      }
    ],
    [
      "transform-inline-environment-variables",
      {
        "exclude": "USE_LOCAL_API"
      }
    ],
    [
      "emotion",
      {
        "autoLabel": true,
        "labelFormat": "[filename]-[local]"
      }
    ],
    [
      "jsx-pragmatic",
      { "export": "jsx", "module": "@emotion/core", "import": "___EmotionJSX" }
    ],
    [
      "@babel/plugin-transform-react-jsx",
      { "pragma": "___EmotionJSX", "pragmaFrag": "React.Fragment" }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-proposal-numeric-separator"
      ]
    }
  }
}
