@import url("https://fonts.googleapis.com/css?family=Quicksand");

:root {
  --text-color: #333;
  --info: #209cee;
  --primary: #01d1b2;
  --success: #23d160;
  --warning: #ffdc57;
  --dark-gray: #4a4a4a;
  --white: #fff;
}

* {
  font-family: "Quicksand", Arial, sans-serif;
}

body {
  height: 100vh;
  overflow: auto;
}

#root {
  height: inherit;
}
