.helpDetails {
  & p {
    &:first-of-type {
      margin-top: 0;
      padding-top: 0;
    }

    &:not(:first-of-type) {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
