.iconLink {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

  & path {
    transition: fill 250ms linear;
  }

  &:hover {
    & path {
      fill: var(--color-honeydew);
    }
  }
}
