@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");

:root {
  --text-color: #333;
  --info: #209cee;
  --primary: #01d1b2;
  --success: #23d160;
  --warning: #ffdc57;
  --dark-gray: #4a4a4a;
  --light-gray: #fafafa;
  --white: #fff;
  --footer-height: 8rem;
}

html {
  height: 100%;
  box-sizing: border-box;
}

* {
  font-family: "Quicksand", Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  padding-bottom: var(--footer-height) !important;
  position: relative;
  margin: 0;
}

#root {
  margin: 0 auto;
}
