:root {
  --text-color: #333;
  --info: #209cee;
  --primary: #01d1b2;
  --success: #23d160;
  --warning: #ffdc57;
  --dark-gray: #4a4a4a;
  --light-gray: #fafafa;
  --white: #fff;
  --footer-height: 8rem;
}

* {
  font-family: "Apple-System", Arial, Helvetica, sans-serif;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
}

#root {
  margin: 0 auto;
  min-height: 100vh;
}
